APP_NAME=MS Notificaciones
APP_ENV=development
DEBUG=true

REST_HOST=0.0.0.0
REST_PORT=8006

GRPC_HOST=0.0.0.0
GRPC_PORT=50056

CORS_ORIGINS=http://localhost:4200,http://localhost:3000

DATABASE_URL=postgresql+psycopg://postgres:1234@db:5432/agm_notificaciones_db

# Configuraciones para envío de correos (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=@gmail.com
SMTP_PASSWORD=tu_app_password