# RabbitMQ

# RabbitMQ exposed ports
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

RABBITMQ_DEFAULT_USER=agm
RABBITMQ_DEFAULT_PASS=agm_password
RABBITMQ_URL=amqp://agm:agm_password@rabbitmq:5672/
RABBITMQ_EXCHANGE_RPC=agm.rpc
RABBITMQ_EXCHANGE_EVENTS=agm.events
RABBITMQ_EXCHANGE_DLX=agm.dlx
RABBITMQ_RPC_TIMEOUT_SECONDS=5

# Communication mode: rabbit | grpc | hybrid
COMMUNICATION_MODE=hybrid
