# Configuración de Base de Datos para MS-3
# Formato: postgresql://usuario:password@host:puerto/nombre_db
DATABASE_URL=postgresql://usuario_generico:password_generico@localhost:5432/nombre_db_generica 