APP_NAME=ms-asistencias
ENVIRONMENT=local

REST_HOST=0.0.0.0
REST_PORT=8005
GRPC_HOST=0.0.0.0
GRPC_PORT=50055

DATABASE_URL=postgresql+asyncpg://agm_user:agm_password@asistencias_db:5432/agm_asistencias_db

QR_SECRET_KEY=GENERAR_CON_FERNET
QR_TTL_SECONDS=20
SESSION_DURATION_MINUTES=10
PRESENT_LIMIT_MINUTES=5

AUTH_GRPC_HOST=ms-auth
AUTH_GRPC_PORT=50051

MATERIAS_GRPC_HOST=ms-periodos
MATERIAS_GRPC_PORT=50052

ALUMNOS_GRPC_HOST=ms-alumnos
ALUMNOS_GRPC_PORT=50053
