# =========================
# MS-2 Periodos y Materias
# Configuración local
# =========================

PROJECT_NAME=MS-2 Periodos y Materias
SERVICE_NAME=ms-periodos-materias
ENVIRONMENT=development

# REST API
API_HOST=0.0.0.0
API_PORT=8002

# gRPC
GRPC_HOST=0.0.0.0
GRPC_PORT=50052

# Database
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5433/agm_periodos_db

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,http://localhost:8000

# Integración futura con otros servicios
# MS-1 Auth se usará después para validar JWT y roles
MS_AUTH_GRPC_HOST=ms-auth-api
MS_AUTH_GRPC_PORT=50051

# MS-3 Docentes y Alumnos será dueño real de docente_id
MS_DOCENTES_ALUMNOS_GRPC_HOST=ms-docentes-alumnos-api
MS_DOCENTES_ALUMNOS_GRPC_PORT=50053