SERVICE_NAME=ms-periodos-materias
ENVIRONMENT=development
DEBUG=true

REST_HOST=127.0.0.1
REST_PORT=8002

GRPC_HOST=0.0.0.0
GRPC_PORT=50052

API_V1_PREFIX=/api/v1

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/agm_periodos_db
DB_ECHO=true